@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  @apply bg-primary-200 dark:bg-primary-900;
}

body {
  @apply bg-gray-100 dark:bg-gray-900 overflow-x-hidden;
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100 dark:bg-gray-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 dark:bg-gray-700 rounded-full;
}

/* Recharts */
.recharts-tooltip-cursor {
  @apply stroke-gray-400 dark:stroke-gray-600;
}

